{
  "presets": ["es2015", "stage-1", "flow", "react"],
  "plugins": ["transform-runtime", "flow-react-proptypes"],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    },
    "production": {
      "plugins": ["transform-react-constant-elements"]
    }
  }
}
