{
  "extends": [
    "@jedwards1211/eslint-config-react",
    "@jedwards1211/eslint-config-flow",
    "eslint-config-prettier"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "shared-node-browser": true
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect",
      "flowVersion": "detect"
    }
  }
}
