{
  "extends": [
    "@jedwards1211/eslint-config",
    "@jedwards1211/eslint-config-flow",
    "prettier",
    "prettier/babel",
    "prettier/flowtype"
  ],
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "env": {
    "es2017": true
  }
}
