/coverage
/.nyc_output
node_modules
/lib
/es
.eslintcache
*.js
*.flow
*.ts
!/scripts/**/*.ts
!/src/**/*.ts
!/src/**/*.tsx
!/src/**/*.flow
!/test/**/*.js
!/test/**/*.ts
!/test/**/*.tsx
!/demo/**/*.js
!/.babelrc.js
/demo-dist
.idea
